body {
    margin: 0;
    padding: 0;
    font-variant: common-ligatures tabular-nums slashed-zero;
}

a {
    color: #00abff;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    font-family: "PT Serif Caption", serif;
    font-variant: small-caps;
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
}

h2 {
    font-weight: normal;
    font-family: "PT Serif Caption", serif;
    font-variant: small-caps;
    margin: 44px -5px 0;
}

#content {
    float: left;
    width: 60%;
    padding: 0 0 0 40px;
}

#sidebar {
    float: right;
    width: 30%;
    padding: 15px;
    background: #efefef;
    height: 90%;
}

p.tags {
    font-style: italic;
    font-family: "PT Sans", Roboto, sans-serif;
}

p.date {
    color: #ccc;
    font-family: "PT Sans", Roboto, sans-serif;
    font-size: 13px;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* forms */
label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input, textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
}

input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment {
    padding: 10px;
    font-family: "PT Sans", Roboto, sans-serif;
    letter-spacing: 0.3px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 13px;
    color: #666;
}