{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
	{{ image_inst.title }}
{% endblock %}

{% block content %}
	<h1>{{ image_inst.title }}</h1>

	{% thumbnail image_inst.image "300" as im %}
		<a href="{{ image_inst.image.url }}">
			<img src="{{ im.url }}" class="image-detail" alt="user-uploaded images">
		</a>
	{% endthumbnail %}

	{% with total_likes=image_inst.users_like.count users_like=image_inst.users_like.all %}
		<div class="image-info">
			<div>
				<span class="count">
					<span class="total">{{ total_likes }} </span> like{{ total_likes|pluralize }}
				</span>
        <span class="count">
          {{ total_views }} view{{ total_views|pluralize }}
        </span>
				<a href="#" class="like button"
				   data-id="{{ image_inst.id }}"
				   data-action="{% if request.user in users_like %}un{% endif %}like">
					{% if request.user not in users_like %}
						Like
					{% else %}
						Unlike
					{% endif %}
				</a>
			</div>
			{{ image_inst.description|linebreaks }}
		</div>

		<div class="image-likes">
			{% for user in image_inst.users_like.all %}
				<div>
					<img src="{{ user.profile.photo.url }}" alt="User photo">
					<p>{{ user.first_name }} {{ user.last_name }}</p>
				</div>
			{% empty %}
				Nobody likes this image yet.
			{% endfor %}
		</div>
	{% endwith %}
{% endblock %}

{% block domready %}
	$('a.like').click(function (e) {
		e.preventDefault();

		$.post('{% url "images:like" %}',

			{
				id: $(this).data('id'),
				action: $(this).data('action')
			},

			function (data) {
				if (data['status'] == 'ok') {
				  var prev_action = $('a.like').data('action');

				  $('a.like').data('action', prev_action == 'like' ? 'unlike' : 'like');
				  $('a.like').text(prev_action == 'like' ? 'UNLIKE' : 'LIKE');

				  var prev_likes = parseInt($('span.count .total').text());
				  $('span.count .total').text(prev_action == 'like' ? prev_likes + 1 : prev_likes - 1);
				}
			}
		);
	});
{% endblock %}