{% extends 'shop/base.html' %}

{% block title %}
    Checkout
{% endblock title %}

{% block content %}
    <h1>Checkout</h1>
    
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart_session %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>${{ item.total_price|floatformat:"2" }}</span>
                </li>
            {% endfor %}

            {% if cart_session.coupon %}
                <li>
                    "{{ cart_session.coupon.coupon_code }}" ({{ cart_session.coupon.discount }}% off)
                    <span>- ${{ cart_session.get_discount|floatformat:"2" }}</span>
                </li>
            {% endif %}
        </ul>
        <p>
            Total: ${{ cart_session.get_total_price_after_discount|floatformat:"2" }}
        </p>
    </div>

    <form action="." method="post" class="order-form">
        {{ order_create_form.as_p }}
        <p><input type="submit" value="Place order"></p> {% csrf_token %}
    </form>
{% endblock content %}
