{% extends 'shop/base.html' %}

{% block title %}
    Checkout
{% endblock title %}

{% block content %}
    <h1>Checkout</h1>
    
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for cart_inst in cart_session %}
            <li>
                {{ cart_inst.quantity }}x {{ cart_inst.product.name }}
                <span>${{ cart_inst.total_price }}</span>
            </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart_session.get_total_price }}</p>
    </div>

    <form action="." method="post" class="order-form">
        {{ order_create_form.as_p }}
        <p><input type="submit" value="Place order"></p> {% csrf_token %}
    </form>
{% endblock content %}
