{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.1"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}{% trans "My shop" %}{% endblock title %}</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="{% static 'favicon.png' %}"
        />
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">{% trans "My shop" %}</a>

            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% comment %}
                Where does the`.code` attribute from (code down below)?
                1. lang in languages
                2. get_language_info_list for LANGUAGES as languages
                3. REPO/django/templatetags/i18n.py :: do_get_language_info_list()
            {% endcomment %}

            <div class="languages">
                <p>{% trans "Languages" %}</p>
                <ul class="languages">
                    {% for lang in languages %}
                        <li>
                            <a href="/{{ lang.code }}/"
                               {% if lang.code == LANGUAGE_CODE %} class="selected"{% endif %}
                            >
                                {{ lang.name_local }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="subheader">
            <div class="cart">
                {% with cart_global|length as total_items %}
                    {% if cart_global|length > 0 %}
                        {% trans "Your cart" %}
                        <a href="{% url 'cart:cart_detail' %}">
                            {% blocktrans with total_items_plural=total_items|pluralize total_price_after_discount=cart_global.get_total_price_after_discount %}
                                {{ total_items }} item{{ total_items_plural }},
                                ${{ total_price_after_discount }}
                            {% endblocktrans %}
                        </a>
                    {% else %}
                        {% trans "Your cart is empty." %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div id="content">
            {% block content %} {% endblock content %}
        </div>
    </body>
</html>
